@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Mj;
   src: url(./assets/fonts/Mj_Parand.TTF);
}

@font-face {
   font-family: Donor;
   src: url(./assets/fonts/bBloodDonor.ttf);
}
body{
   margin: 0;
   padding: 0;
   font-family: Mj,Donor;
}